.Column {
    display: flex;
    flex-direction: column;
}

.Projects-landing {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background-image: url(./content/projectslanding.jpeg);
    min-height: 100vh;
    background-size: cover;
}

.Page-title {
    max-width: 30vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
    border-radius: 10px;
    white-space: pre-line;
    gap: 1vh;
    margin: 0 0 4vw 4vw;
}

.Project-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.Project-image {
    max-width: 50vw;
    overflow: hidden;
    object-fit: cover;
}

.Project-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: calc(5% + 5vw);
    gap: 2em;
    text-align: center;
    width: calc(50vw - 10%);
}

.Project-description-inv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    gap: 2em;
    text-align: center;
    width: calc(50vw - 10%);
    background-color: black;
    color: white;
}

.Development-banner {
    background-image: linear-gradient(90deg, #ffc40000 0%, #ffc400aa 15%, #ffc400aa 85%, #ffc40000 100%);
    padding: 0.5em 50px;
    max-width: 20vw;
    text-align: center;
    font-family: monospace;
}

.Github-link {
    background-color: #F6F8FA;
    padding: 1em;
    color: #24292F;
    border-radius: 1em;
    max-height: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    border: 1px solid #D0D7DE;
    text-decoration: none;
    transition: transform 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

.Github-link:hover {
    transform: scale(1.05);
}

.AI-disclaimer {
    max-width: 30vw;
    text-align: center;
    font-family: monospace;
}

.More-soon {
    text-align: center;
    padding: 20vh;
    font-family: monospace;
    font-size: calc(10px + 1.5vmin);
}

.Coauthor-tag {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
}

.Coauthor-link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    color: #80b7e4;
}

.See-more-inv{
    background-image: linear-gradient(162deg, rgba(2,28,102,1) 0%, rgba(40,144,111,1) 49%, rgba(59,128,143,1) 100%);    
    font-size: 1.6em;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.5em;
    border-radius: 0.625em;
    transition: transform 0.3s;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #aaaaaa;
}

.See-more-inv:hover {   
    transform: scale(1.05);
}

.Buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
}