.Construction-banner {
  background-image: linear-gradient(90deg, #ff000000 0%, #ff0000aa 15%, #ff0000aa 85%, #ff000000 100%);
  text-align: center;
  padding: 1em 100px;
  font-family: monospace;
  max-width: 50vw;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: calc(20px + 2vmin);
  max-width: 100%;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h2 {
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: calc(15px + 1.5vmin);
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  font-size: calc(10px + 0.75vmin);
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

button {
  border: none;
  font-family: Helvetica, sans-serif;
  cursor: pointer;
}

.Landing-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background-image: url(./content/landing-image.jpeg);
  min-height: 100vh;
  background-size: cover;
}

.Header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(15px + 1.5vmin);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}







.Links-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  padding: 0;
  margin-right: 4vw;
  overflow: hidden;
}

.Links-button {
  background-color: transparent;
  font-size: calc(10px + 1vmin);
  color: inherit;
  font-family: inherit;
  text-shadow: inherit;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.Links {
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  font-size: calc(10px + 1vmin);
  gap: 2vmin;
  margin-right: 2vmin;
  max-width: 0;
  transition: max-width 0.2s;
}

.Links.expanded {
  max-width: calc(60px + 6vmin);
}



.Header-bar {
  height: 1px;
  width: 90%;
  background: linear-gradient(90deg, transparent 0%, white 5%, white 95%, transparent 100%);
}

.Home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.Welcome {
  max-width: 30vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: white;
  border-radius: 10px;
  white-space: pre-line;
  gap: 1vh;
  margin: 0 0 10vw 4vw;
  box-shadow: 0 0 20px 20px #00000055;
  background-color: #00000055;
}

.Element-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.Shelf {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin: 4vw;
  gap: 4vw;
}

.Drawer {
  display: inline-flex;
  justify-content: left;
  background-color: #00000088;
  max-width: 30vw;
  position: relative;
  border-radius: 10px;
  white-space: pre-line;
}

.Bio {
  width: 50vw;
  background-image: linear-gradient(-30deg, #cfc8a3 10%, #dedede, #bacfd2 90%);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Drawer-button {
  margin: 0;
  padding: 10%;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  color: inherit;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: calc(15px + 1.5vmin);
  color: #fff;
  text-align: left;
}

.Drawer-back-button {
  left: 5px;
  top: 5px;
  padding: 1em;
  box-sizing: border-box;
  background-color: #00000034;
  z-index: 1;
  font: inherit;
  position: absolute;
  color: inherit;
  border-radius: 1vmin;
  color: #dfdfdf;
  font-size: calc(5px + 1vmin);
}

.Drawer-content {
  font: inherit;
  margin: 5%;
  color: #dfdfdf;
  text-align: left;
}

.Drawer-title {
  margin: 10%;
  color: #fff;
  text-align: left;
}

