.Header-bg {
    background-color: var(--primary);
    overflow: hidden;
    height: 0;
    transition: all 0.5s;
    color: var(--background);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.Header-bg.expanded {
    height: 7.5vh;
    padding: 0.2em 1em;
}

.Title {
    width: 20vw;
    font-size: 2.369rem;
    font-weight: bold;
    text-align: center;
    color: var(--background);
}

.Page-buttons {
    width: 50vw;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.Page-buttons button {
    width: auto;
    background-color: transparent;
    color: var(--background);
    transition: all 0.2s
}

.Contact-div {
    width: 20vw;
    display: flex;
    justify-content: flex-end;
}

.Contact-div button {
    background-color: transparent;
    color: var(--background);
    transition: all 0.2s
}

.Contact-div button:hover, .Page-buttons button:hover {
    background-color: var(--secondary);
    color: var(--text);
    box-shadow: 0 0 3em 0 var(--secondary);
}

@media (max-width: 1200px) {
    .Title {
        font-size: 1.777rem;
    }
}

@media (max-width: 800px) {
    .Header-bg.expanded {
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .Title {
        font-size: 1.333rem;
    }

    .Page-buttons {
        flex-direction: column;
        align-items: end;
        justify-content: end;
        gap: 0.5em;
        padding: 0.5em 1.5em;
    }

    .Page-buttons button {
        padding: 0.5em 1em;
    }

    .Contact-div {
        display: none;
    }
}