.Projects-wrapper {
    display: flex;
    flex-direction: column;
    padding: 4vh 15vw;
    gap: 4em;
    box-shadow: 0 0 1em 0 var(--text) inset;
    border-radius: 1em;
    background-color: var(--background);
    min-height: 75vh;
    width: 99%;
    box-sizing: border-box;
}

.Project-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 1em;
    width: 100%;
    background-color: var(--secondaryFade);
    border-radius: 1em;
    height: 50vh
}

.Project-description {
    display: flex;
    flex-direction: column;
    width: 55%;
    padding: 2em;
    box-sizing: border-box;
    align-items: start;
    justify-content: space-between;
    text-align: justify;
}

.Project-description a {
    color: var(--accent);
    text-decoration: underline;
}

.Project-image {
    width: 45%;
    height: 100%;
    border-radius: 1em;
    overflow: hidden;
}

.Project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Github-link {
    background-color: #F6F8FA;
    padding: 1em;
    color: #24292F !important;
    border-radius: 1em;
    max-height: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    border: 1px solid #D0D7DE;
    text-decoration: none !important;
    transition: transform 0.3s;
    font-family: Helvetica, sans-serif;
    align-self: center;
    margin-top: 1em;
}

.Github-link:hover {
    transform: scale(1.05);
}