.About-landing {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background-image: url(./content/aboutlanding.jpeg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.About-core {
    display: flex;
    flex-direction: column;
    margin: 5vmin 30vmin;
    background-color: #FFFFFF33;
    color: white;
    border-radius: 2vmin;
    padding: 5vmin;
    transition: transform 0.8s;
    text-align: justify;
    gap: 2em;
}

.About-core:hover {
    transform: scale(1.1);
}

.About-background {
    background: radial-gradient(circle, rgba(2,28,102,1) 0%, rgba(40,85,144,1) 49%, rgb(96, 191, 235) 100%);
    padding: 1vmin;
    display: flex;
    flex-direction: row;

}

.About-photo-container {
    display: flex;
    flex-direction: column;

}