.About-landing {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background-image: url(./content/aboutlanding.jpeg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}