.Construction-banner {
  background-image: linear-gradient(90deg, #ff000000 0%, #ff0000aa 15%, #ff0000aa 85%, #ff000000 100%);
  text-align: center;
  padding: 1em 100px;
  font-family: monospace;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: calc(15px + 4vmin);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: calc(15px + 1.5vmin);
}

p {
  font-size: calc(10px + 0.75vmin);
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

button {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.Landing-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  background-image: url(./content/landing-image.jpeg);
  min-height: 100vh;
  background-size: cover;
}

.Header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  font-size: calc(15px + 1.5vmin);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 1vh;
}

.Home-button {
  font-weight: bold;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: calc(15px + 1vmin);
  width: 20vw;
  text-align: left;
  margin-left: 4vw;
}

.Tab-button {
  background-color: transparent;
  font-size: calc(10px + 1vmin);
  color: inherit;
  margin: 0 2em;
  font-family: inherit;
  text-shadow: inherit;
}

.Links-button {
  font-weight: bold;
  background-color: transparent;
  height: calc(15px + 1.5vmin);
  width: calc(15px + 1.5vmin);
  color: inherit;
  font-family: inherit;
  text-shadow: inherit;
  text-align: right;
  margin-right: 4vw;
  background-image: url(./content/links.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.Left-header {
  width: 20vw;
  display: flex;
  flex-direction: row;
}

.Right-header {
  width: 20vw;
  display: flex;
  flex-direction: row-reverse;
}

.Header-bar {
  height: 1px;
  width: 90%;
  background: linear-gradient(90deg, transparent 0%, white 5%, white 95%, transparent 100%);
  margin-top: 2vh;
}

.Home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.Welcome {
  max-width: 30vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: white;
  background-color: #00000088;
  border-radius: 10px;
  white-space: pre-line;
  gap: 1vh;
}

.Element-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.Shelf {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin: 4vw;
  gap: 4vw;
}

.Drawer {
  display: inline-flex;
  justify-content: left;
  background-color: #00000088;
  max-width: 30vw;
  position: relative;
  border-radius: 10px;
  white-space: pre-line;

}

.Bio {
  width: 50vw;
  background-image: linear-gradient(-30deg, #cfc8a3 10%, #dedede, #bacfd2 90%);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Drawer-button {
  margin: 0;
  padding: 10%;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  color: inherit;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: calc(15px + 1.5vmin);
  color: #fff;
  text-align: left;
}

.Drawer-back-button {
  left: 5px;
  top: 5px;
  padding: 1em;
  box-sizing: border-box;
  background-color: #00000034;
  z-index: 1;
  font: inherit;
  position: absolute;
  color: inherit;
  border-radius: 1vmin;
  color: #dfdfdf;
  font-size: calc(5px + 1vmin);
}

.Drawer-content {
  font: inherit;
  margin: 5%;
  color: #dfdfdf;
  text-align: left;
}

.Drawer-title {
  margin: 10%;
  color: #fff;
  text-align: left;
}

.Footer {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: #000;
  color: white;
  padding-left: 4vw;
}
