.Experience-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  padding: 12vh 12vw;
  box-shadow: 0 0 1em 0 var(--text) inset;
  border-radius: 1em;
}

.Job-entry {
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding: 2em;
  border-radius: 1em;
  box-sizing: border-box;
}

.Job-entry img {
  height: 4em;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1em;
  box-sizing: border-box;
}

.Job-role-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.Experience-category {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-height: fit-content;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s, margin-bottom 0.1s linear;
  margin-bottom: 0;

  .Job-entry {
    opacity: 0;
    transition: all 0.1s ease;
  }
}

.Experience-category.expanded {
  max-height: 5000px;
  /* margin-bottom: 7em; */
  gap: 2em;
  overflow: visible;

  .Job-entry {
    box-shadow: 0.1em 0.1em 0.5em 0em var(--textFade);
    background-color: var(--accentFade);
    opacity: 1;
  }
}

.Experience-category-header {
  display: flex;
  flex-direction: row;
  gap: 3em;
  align-items: center;
  padding-top: 10px;
  border-top: 2px solid var(--accent);
}

.Experience-category-header button {
  background-color: transparent;
  padding: 0;
}

.Experience-category-header-arrow {
  height: 3em;
  width: 3em;
  object-fit: cover;
  transform: rotate(90deg);
  transition: all 0.2s;
}

.Experience-category-header-arrow.expanded {
  transform: rotate(270deg);
}

@media (max-width: 1000px) {
  .Experience-wrapper {
    padding: 4vh 6vw;
    width: 100%;
    overflow: hidden;
    text-align: left;
  }

  .Experience-category-header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: flex-start;
    text-align: left;
  }

  .Job-entry {
    flex-direction: column;
    gap: 1em;
  }
  .Job-entry img {
    height: 6em;
    width: 6em;
  }

  .Experience-category.expanded {
    max-height: 5000px;
  }
}
