.Projects-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0em;
  padding: 12vh 12vw;
  box-shadow: 0 0 1em 0 var(--text) inset;
  border-radius: 1em;
}

.Projects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  width: 100%;
}

.Project {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  padding: 1em;
  background-color: var(--accentFade);
  text-align: justify;
  box-shadow: 0.1em 0.1em 0.5em 0em var(--textFade);
  border-radius: 1.5em;
  color: var(--text);
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--accent);
  }

  &:active {
    box-shadow: inset 0em 0em 0.5em 0em var(--textFade);
  }
}

.Project img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1em;
  box-sizing: border-box;
}

.Description {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
  text-align: left;
}

.Description.expanded {
  display: none;
}

.Expanded-Content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.Expanded-Content p {
  margin: 0;
}

.Expanded-Content a {
  color: var(--secondary);
  background-color: var(--primary);
  width: fit-content;
  padding: 0.7em;
  border-radius: 1.5em;
}

.Project-Detail {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.Tags {
  display: flex;
  gap: 1em;
  color: var(--textFade);
  flex-wrap: wrap;
}

.Arrow-Button {
  background-color: transparent;
  transition: all 0.2s;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: fit-content;
  padding: 0;
  align-self: center;
}

.Arrow-Button img {
  height: 2em;
  width: 2em;
  object-fit: cover;
  border-radius: 0;
}

.Arrow-Button:hover {
  scale: 1.1;
}

.Tag-Selector {
  display: inline;
  padding: 0em 7em;
  margin: 5em 0;
}

.Tag-Selector h4 {
  margin: 0 0 1em 0.25em;
}

.Tag-button {
  background-color: var(--primary);
  color: white;
  border-radius: 1em;
  padding: 0.5em 1em;
  margin: 0.5em;
  transition: all 0.2s;
  box-shadow: 0 0 0.5em 0 var(--textFade);
}

.Tag-button.selected {
  background-color: var(--secondary);
  color: var(--text);
  box-shadow: inset 0 0 0.5em 0 var(--textFade);
}

.Tag-button.selected:hover {
  background-color: var(--secondaryFade);
  color: var(--text);
}

.Tag-button:hover {
  background-color: var(--primaryFade);
  color: var(--text);
}

.Tag-button:active {
  background-color: var(--secondary);
  color: var(--text);
  box-shadow: inset 0 0 0.5em 0 var(--textFade);
}

.Arrow-Button.expanded {
  transform: rotate(180deg);
}

.Learn-more {
  color: var(--secondary);
  font-weight: bold;

  &:hover {
    color: white;
  }
}

@media (max-width: 1200px) {
  .Projects-wrapper {
    padding: 4vh 4vw;
    width: 100%;
    box-sizing: border-box;
  }

  .Projects-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .Projects-wrapper {
    gap: 5em;
  }

  .Projects-list {
    grid-template-columns: 1fr;
  }

  .Project {
    flex-direction: column;
    gap: 1em;
    align-items: center;
    width: 100%;
  }

  .Project img {
    height: 100%;
    aspect-ratio: 1/1;
    height: auto;
  }

  .Arrow-Button img {
    height: 2em;
    width: 2em;
  }

  .Arrow-Button {
    transform: rotate(90deg);
  }

  .Arrow-Button.expanded {
    transform: rotate(270deg);
  }

  .Tag-Selector {
    padding: 0em 0em;
    margin: 0;
  }
}
